.page {
  height: 100%;
  padding: 15px;
  background-color: #eee;
}

.container {
  width: 400px;
  margin: auto;
  padding: 20px 15px;
  background-color: #ddd;
  box-shadow: 2px 2px 2px 2px #ccc;
  border-radius: 15px;

}

input {
  width: 100%;
  border: 0;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 15px;
}

#name {
  background-color: aquamarine
}

.test {
  color: red;
}

.btn-submit {
  border: 0;
  padding: 15px;
  width: 100%;
  font-size: 16px;
  color: white;
  background-color: darken(blue, 25%);
  border-radius: 10px;
  box-shadow: 2px 2px 2px 2px #eee;
  transition: background-color 0.5s ease-out;

  &:disabled {
    background-color: lighten(#ddd, 5%); 
  }
}
